<div *ngIf="isLoading; else transactionContent" class="flex justify-center items-center h-screen">
  <app-spinner class="w-16 h-16"></app-spinner>
</div>


<ng-template class="min-h-screen " #transactionContent>
  <div class="container mx-auto h-full py-12 px-4 sm:px-6 lg:px-8">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row justify-between items-center mb-8 space-y-4 sm:space-y-0">
      <h1 class="text-4xl font-bold text-blue-600">Transactions</h1>
      <button
        class="bg-blue-600 hover:bg-blue-700 text-white rounded-full px-4 py-2 transition-all duration-300 transform hover:scale-105"
        (click)="createTransfer=true"
      >
        <i class="fas fa-plus mr-2"></i> New Transaction
      </button>
    </div>


    <!-- View Toggle -->
    <div class="mb-4">
      <div class="border-b border-gray-200">
        <nav class="-mb-px flex space-x-8">
          <a
            *ngFor="let view of views"
            [class.border-blue-500]="currentView === view"
            [class.text-blue-600]="currentView === view"
            (click)="currentView = view"
            class="cursor-pointer whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"
            [class.border-transparent]="currentView !== view"
            [class.text-gray-500]="currentView !== view"
          >
            {{ view }} View
          </a>
        </nav>
      </div>
    </div>

    <!-- Transactions List -->
    <div *ngIf="currentView === 'List'" class="bg-white shadow-md rounded-xl overflow-hidden">
      <div class="card bg-white shadow-md rounded-xl overflow-hidden">
        <div class="card-content p-0">
          <table class="w-full">
            <thead class="bg-gradient-to-r from-blue-500 to-purple-500">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                Transaction
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                Amount
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                Date
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                Type
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                Status
              </th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr
              *ngFor="let transaction of transactionResponse.content"
              class="hover:bg-green-100 transition-colors duration-200"
            >
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-200 flex items-center justify-center">
                    <i class="fa-solid fa-dollar-sign text-green-500"></i>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">{{ transaction.message }}</div>
                    <div class="text-sm text-gray-500">{{ transaction.description }}</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div
                  class="text-sm font-semibold"
                  [ngClass]="transaction.transactionType === 'DEPOSIT' ? 'text-green-600' : 'text-red-600'"
                >
                  ${{ transaction.amount }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ transaction.date }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
              <span
                class="badge bg-blue-100 text-blue-800 rounded-lg px-2"
                [ngClass]="transaction.transactionType === 'DEPOSIT' ? 'default' : 'secondary'"
              >
                {{ transaction.transactionType }}
              </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
              <span
                class="badge rounded-lg px-2"
                [ngClass]="{
                  'bg-green-100 text-green-800': transaction.status === 'SUCCESS',
                  'border bg-red-100 border-yellow-500 text-yellow-800': transaction.status !== 'SUCCESS'
                }"
              >
                {{ transaction.status }}
              </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Transactions Grid -->
    <div *ngIf="currentView === 'Grid'" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let transaction of transactionResponse.content"
           class="bg-white shadow-md hover:shadow-lg transition-all duration-300 transform hover:-translate-y-1 rounded-xl overflow-hidden"
      >
        <div class="py-4 px-4 bg-gradient-to-r from-blue-500 to-purple-500 flex items-center justify-center">
          <h3 class="text-lg font-semibold text-white text-center">
            {{ transaction.message }}
          </h3>
        </div>

        <div class="p-4">
          <p class="text-sm text-gray-600 mb-3">
            {{ transaction.description }}
          </p>
          <div class="flex justify-between items-center mb-3">
      <span
        class="text-lg font-bold"
        [ngClass]="{
          'text-green-600': transaction.transactionType === 'DEPOSIT',
          'text-red-600': transaction.transactionType !== 'DEPOSIT'
        }"
      >
        ${{ transaction.amount | number: '1.2-2' }}
      </span>
            <span class="text-sm text-gray-600 flex items-center">
              <i class="fa-regular fa-calendar-days h-4 w-4 mr-1"></i>
              {{ transaction.date }}
      </span>
          </div>
          <div class="flex justify-between items-center mb-3">
      <span
        class="bg-blue-100 text-blue-800 rounded-lg px-2"
        [ngClass]="{
          'default': transaction.transactionType === 'DEPOSIT',
          'secondary': transaction.transactionType !== 'DEPOSIT'
        }"
      >
        {{ transaction.transactionType }}
      </span>
            <span
              class="rounded-lg px-2"
              [ngClass]="{
          'bg-green-100 text-green-800': transaction.status === 'SUCCESS',
          'border bg-red-100 border-yellow-500 text-yellow-800': transaction.status !== 'SUCCESS'
        }"
            >
        {{ transaction.status }}
      </span>
          </div>
          <div class="text-sm text-gray-600">
            <div class="flex items-center mb-1">
              <i class="fa-solid fa-arrow-right h-4 w-4 mr-1 text-blue-500"></i>
              From: {{ transaction.sourceWallet }}
            </div>
            <div class="flex items-center">
              <i class="fa-solid fa-arrow-right h-4 w-4 mr-1 text-blue-500"></i>
              To: {{ transaction.destinationWallet }}
            </div>
          </div>
          <div
            *ngIf="transaction.goalName && transaction.transactionType === 'Transfer to Goal'"
            class="mt-2 text-sm text-blue-600 flex items-center"
          >
            <i class="fa-solid fa-bullseye h-4 w-4 mr-1"></i>
            Goal: {{ transaction.goalName }}
          </div>
          <div
          *ngIf="transaction.receiver && transaction.transactionType === 'Transfer to User'"
            class="mt-2 text-sm text-blue-600 flex items-center"
          >
            <i class="fa-solid fa-user h-4 w-4 mr-1"></i>
            user: {{ transaction.receiver }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="createTransfer" class="fixed inset-0 flex items-center justify-center bg-opacity-75 bg-gray-600 z-50">
  <div class="rounded-lg w-full sm:w-1/2 md:w-1/3 p-8">
    <app-transaction-create (closeModal)="createTransfer = false"
                            (showSuccess)="handleSuccess()"
    ></app-transaction-create>
  </div>
</div>

<div *ngIf="showSuccess" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50 backdrop-blur-sm" [@fadeIn]>
  <div class="bg-white rounded-lg p-8 flex flex-col items-center max-w-sm w-full mx-4">
    <i class="fas fa-check-circle text-green-500 text-5xl mb-4"></i>
    <h2 class="text-2xl font-bold text-gray-800 mb-2 text-center">Transfer Successful!</h2>
    <p class="text-gray-600 text-center">Your transfer has been processed successfully.</p>
    <div class="w-full h-2 bg-green-200 mt-4 rounded-full overflow-hidden">
      <div class="h-full bg-green-500 animate-progress"></div>
    </div>
  </div>
</div>

