<div class="max-w-screen-xl mx-auto px-4 md:px-8">
  <div class="items-start justify-between py-4 border-b md:flex">
    <div class="max-w-lg">
      <h3 class="text-gray-800 text-2xl font-bold">
        Budget
      </h3>
      <p class="text-gray-600 mt-2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>
    <div class="mt-6 md:mt-0">
      <button
        (click)="isAdd=true"
        class="block px-6 py-4 text-center text-white duration-150 font-medium bg-green-600 rounded-lg hover:bg-green-500 active:bg-green-700 md:text-sm"
      >
        New Budget
      </button>
    </div>
  </div>
</div>

<div class="flex justify-start min-w-[300px] gap-5 flex-wrap">
  <app-budget-card
    *ngFor="let budget of budgetResponse.content"
    [budget]="budget"
  ></app-budget-card>
</div>

<div class="flex justify-center mt-3">
  <nav aria-label="Page navigation example">
    <ul class="flex list-none space-x-2">
      <li class="page-item">
        <a
          (click)="goToFirstPage()"
          class="page-link inline-block px-3 py-1.5 text-sm font-medium leading-tight text-gray-700 bg-white border border-gray-300 rounded-l hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:opacity-50"
          href="javascript:void(0)"
          aria-label="Previous"
          [class.disabled]="page === 0"
        >
          <i class="fa-solid fa-angles-left"></i>
        </a>
      </li>
      <li class="page-item">
        <a
          (click)="goToPreviousPage()"
          class="page-link inline-block px-3 py-1.5 text-sm font-medium leading-tight text-gray-700 bg-white border border-gray-300 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:opacity-50"
          href="javascript:void(0)"
          aria-label="Previous"
          [class.disabled]="page === 0"
        >
          <i class="fa-solid fa-angle-left"></i>
        </a>
      </li>
      <li
        class="page-item"
        *ngFor="let pageIndex of pages"
      >
        <a
          (click)="gotToPage(pageIndex)"
          class="page-link inline-block px-3 py-1.5 text-sm font-medium leading-tight text-gray-700 bg-white border border-gray-300 rounded hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
          [class.active]="page === pageIndex"
          href="javascript:void(0)"
        >{{ pageIndex + 1 }}</a>
      </li>
      <li class="page-item">
        <a
          (click)="goToNextPage()"
          class="page-link inline-block px-3 py-1.5 text-sm font-medium leading-tight text-gray-700 bg-white border border-gray-300 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:opacity-50"
          href="javascript:void(0)"
          aria-label="Next"
          [class.disabled]="isLastPage"
        >
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="page-item">
        <a
          (click)="goToLastPage()"
          class="page-link inline-block px-3 py-1.5 text-sm font-medium leading-tight text-gray-700 bg-white border border-gray-300 rounded-r hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:opacity-50"
          href="javascript:void(0)"
          aria-label="Next"
          [class.disabled]="isLastPage"
        >
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>


<div *ngIf="isAdd">
  <app-budget-create></app-budget-create>
</div>
