<div *ngIf="isLoading; else budgetContent" class="flex justify-center items-center h-screen">
  <app-spinner class="w-16 h-16"></app-spinner>
</div>

<ng-template class="min-h-screen bg-white p-8" #budgetContent>
  <div class="max-w-6xl mx-auto">
    <div class="flex justify-between items-center mb-8 mt-8">
      <h1 class="text-3xl font-bold text-green-800">Budgets</h1>
      <button
        class="btn bg-green-600 hover:bg-green-700 text-white flex items-center"
        (click)="isAdd = !isAdd"
        *ngIf="budgetResponse.content?.length != 0">
        <i class="fa-solid fa-circle-plus h-4 w-4"></i>
        <span class="hidden md:inline ml-2">New Budget</span>
      </button>
    </div>

    <div class="bg-gradient-to-r from-green-400 to-green-600 text-white p-4 mb-6 rounded-lg">
      <div class="flex items-center justify-between">
        <div>
          <p class="text-lg font-semibold mb-2">This month total budget</p>
          <p class="text-4xl font-bold">${{ monthlyBudget.totalBudget }}</p>
        </div>
        <i class="fa-solid fa-hand-holding-dollar" style="font-size: 48px;"></i>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <app-budget-card
        *ngFor="let budget of budgetResponse.content"
        [id]="budget.id"
        [name]="budget.name || 'No name provided.'"
        [description]="budget.description || 'No description provided.'"
        [amount]="budget.amount || 0"
        [targetAmount]="budget.targetAmount || 0"
        [limitAmount]="budget.limitAmount || 0"
        (refreshBudget)="handleRefreshBudget($event)">
      </app-budget-card>
    </div>

    <!-- Add Budget Modal -->
    <div *ngIf="isAdd" class="fixed inset-0 flex items-center justify-center bg-opacity-75 bg-gray-600 z-50">
      <div class="rounded-lg md:w-1/2">
        <app-budget-create
          (closeModal)="isAdd = false"
          (budgetCreated)="findAllBudgets(true)"
          (showSuccess)="handleSuccess()"
        >
        </app-budget-create>
      </div>
    </div>
  </div>
  <div *ngIf="budgetResponse?.content?.length === 0"
       class="text-center text-gray-500 mt-8 p-8 bg-white rounded-lg shadow">
    <span class="icon mx-auto h-12 w-12 text-gray-400 mb-4">🔍</span>
    <p class="text-xl font-semibold mb-2">No budgets found</p>
    <p>Try adding a new budget.</p>
  </div>
</ng-template>

<div class="fixed top-4 right-4 z-50" *ngIf="showSuccess">
  <!-- Success Toast -->
  <div
    class="flex items-center p-4 mb-4 bg-white border-l-4 border-green-500 rounded-lg shadow-md animate-slideIn"
    role="alert"
  >
    <!-- Icon -->
    <div class="animate-bounce">
      <svg class="w-8 h-8 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
    </div>

    <!-- Content -->
    <div class="ml-4 flex-1">
      <p class="font-semibold text-gray-800">Success!</p>
      <p class="text-sm text-gray-600">Income added successfully</p>
    </div>

    <!-- Close Button -->
    <button
      class="ml-4 text-gray-400 hover:text-gray-600 transition-colors"
      onclick="this.parentElement.remove()"
    >
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>
  </div>
</div>



<div class="flex justify-center mt-3 mb-4 mt-6">
  <nav aria-label="Page navigation example">
    <ul class="flex items-center space-x-2">
      <li>
        <a
          (click)="goToFirstPage()"
          class="px-3 py-2 text-gray-500 bg-white border rounded-md hover:bg-gray-100"
          href="javascript:void(0)"
          aria-label="Previous"
          [class.disabled]="page === 0"
        >
          <i class="fa-solid fa-angles-left"></i>
        </a>
      </li>
      <li>
        <a
          (click)="goToPreviousPage()"
          class="px-3 py-2 text-gray-500 bg-white border rounded-md hover:bg-gray-100"
          href="javascript:void(0)"
          aria-label="Previous"
          [class.disabled]="page === 0"
        >
          <i class="fa-solid fa-angle-left"></i>
        </a>
      </li>
      <li
        *ngFor="let pageIndex of pages"
        class="flex items-center"
      >
        <a
          (click)="gotToPage(pageIndex)"
          class="px-3 py-2 text-gray-500 bg-white border rounded-md hover:bg-gray-100"
          [class.active]="page === pageIndex"
          href="javascript:void(0)"
          [ngClass]="{
            'text-green-500': page === pageIndex,
            'bg-green-100': page === pageIndex
          }"
        >{{ pageIndex + 1 }}</a>
      </li>
      <li>
        <a
          (click)="goToNextPage()"
          class="px-3 py-2 text-gray-500 bg-white border rounded-md hover:bg-gray-100"
          href="javascript:void(0)"
          aria-label="Next"
          [class.disabled]="isLastPage"
        >
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li>
        <a
          (click)="goToLastPage()"
          class="px-3 py-2 text-gray-500 bg-white border rounded-md hover:bg-gray-100"
          href="javascript:void(0)"
          aria-label="Next"
          [class.disabled]="isLastPage"
        >
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
