<div class="min-h-screen bg-white p-8">
  <div class="max-w-6xl mx-auto">
    <div class="flex justify-between items-center mb-8">
      <h1 class="text-3xl font-bold text-green-800">Your Budgets</h1>
      <button
        class="btn bg-green-600 hover:bg-green-700 text-white flex items-center"
        (click)="isAdd = !isAdd"
        *ngIf="budgetResponse.content?.length != 0">
        <i class="fa-solid fa-circle-plus h-4 w-4"></i>
        <span class="hidden md:inline ml-2">New Budget</span>
      </button>
    </div>

    <!-- Enhanced HR -->
    <hr class="p-4">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <app-budget-card
        *ngFor="let budget of budgetResponse.content"
        [id]="budget.id"
        [name]="budget.name || 'No name provided.'"
        [description]="budget.description || 'No description provided.'"
        [amount]="budget.amount || 0"
        [targetAmount]="budget.targetAmount || 0"
        [limitAmount]="budget.limitAmount || 0">
      </app-budget-card>
    </div>

    <!-- Add Budget Modal -->
    <div *ngIf="isAdd" class="fixed inset-0 flex items-center justify-center bg-opacity-75 bg-gray-600 z-50">
      <div class="rounded-lg md:w-1/2">
        <app-budget-create
          (closeModal)="isAdd = false"
          (budgetCreated)="findAllBudgets(true)">
        </app-budget-create>
      </div>
    </div>
  </div>
</div>
