<div class="min-h-screen bg-white">
  <div class="flex min-h-screen">

    <div class="hidden lg:block lg:w-1/2">
      <div
        class="h-full w-full bg-cover bg-center"
        style="background-image: url('assets/logo.png'); background-size: cover; background-position: center;"
      ></div>
    </div>
    <!-- Left section -->
    <div class="flex w-full flex-col p-6 lg:w-1/2">
      <div class="mx-auto mt-20 w-full max-w-md space-y-8">
        <div class="mt-12 mx-4 px-4 rounded-md border-l-4 border-red-500 bg-red-50 md:max-w-2xl md:mx-auto"
             *ngIf="errorMsg.length">
          <div class="flex justify-between py-3">
            <div class="flex">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" viewBox="0 0 20 20"
                     fill="currentColor">
                  <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                        clip-rule="evenodd"/>
                </svg>
              </div>
              <div class="self-center ml-3">
        <span class="text-red-600 font-semibold">
          Error
        </span>
                <p class="text-red-600 mt-1" *ngFor="let msg of errorMsg">{{ msg }}</p>
              </div>
            </div>
            <button class="self-start text-red-500" (click)="closeError()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="space-y-2">
          <p class="text-sm uppercase tracking-wider text-gray-500">START FOR FREE</p>
          <h1 class="text-3xl font-bold text-green-600">
            Create new account<span class="text-green-500">.</span>
          </h1>
          <p class="text-sm text-gray-600">
            Already A Member?
            <button (click)="login()" class="text-green-500 hover:underline">Log In</button>
          </p>
        </div>

        <div class="space-y-4">
          <div class="flex gap-4">
            <div class="flex-1">
              <input
                type="text"
                placeholder="First name"
                class="w-full border border-gray-300 bg-white text-gray-900 placeholder:text-gray-400 rounded px-3 py-2"
                [(ngModel)]="registerRequest.firstname"
                autofocus
              />
            </div>
            <div class="flex-1">
              <input
                type="text"
                placeholder="Last name"
                class="w-full border border-gray-300 bg-white text-gray-900 placeholder:text-gray-400 rounded px-3 py-2"
                [(ngModel)]="registerRequest.lastname"
              />
            </div>
          </div>

          <input
            type="email"
            placeholder="Email"
            class="w-full border border-gray-300 bg-white text-gray-900 placeholder:text-gray-400 rounded px-3 py-2"
            [(ngModel)]="registerRequest.email"
          />

          <div class="relative">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              placeholder="Password"
              class="w-full border border-gray-300 bg-white text-gray-900 placeholder:text-gray-400 rounded px-3 py-2"
              [(ngModel)]="registerRequest.password"
            />
            <button
              type="button"
              class="absolute right-2 top-2"
              (click)="togglePasswordVisibility()"
            >
              <i [class]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'" class="text-green-600"></i>
            </button>
          </div>


          <div class="flex gap-4 pt-4">
            <button
              type="button"
              class="flex-1 border border-gray-200 bg-white text-gray-900 hover:bg-gray-50 py-2 px-4 rounded"
            >
              Change method
            </button>
            <button
              type="submit"
              class="flex-1 bg-green-500 text-white hover:bg-green-600 py-2 px-4 rounded"
              (click)="signUp()"
            >
              Create account
            </button>
          </div>
        </div>
        <div class="relative mt-4">
          <div class="absolute inset-0 flex items-center">
            <span class="w-full border-t border-gray-300"></span>
          </div>
          <div class="relative flex justify-center text-xs uppercase">
            <span class="bg-white px-2 text-gray-500">Or continue with</span>
          </div>
        </div>

        <!-- Google Login -->
        <a href="#"
           class="flex items-center justify-center mt-4 text-gray-600 transition-colors duration-300 transform border rounded-lg hover:bg-gray-50">
          <svg class="w-6 h-6" viewBox="0 0 40 40">
            <path
              d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.045 27.2142 24.3525 30 20 30C14.4775 30 10 25.5225 10 20C10 14.4775 14.4775 9.99999 20 9.99999C22.5492 9.99999 24.8683 10.9617 26.6342 12.5325L31.3483 7.81833C28.3717 5.04416 24.39 3.33333 20 3.33333C10.7958 3.33333 3.33335 10.7958 3.33335 20C3.33335 29.2042 10.7958 36.6667 20 36.6667C29.2042 36.6667 36.6667 29.2042 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z"
              fill="#FFC107"/>
            <path
              d="M5.25497 12.2425L10.7308 16.2583C12.2125 12.59 15.8008 9.99999 20 9.99999C22.5491 9.99999 24.8683 10.9617 26.6341 12.5325L31.3483 7.81833C28.3716 5.04416 24.39 3.33333 20 3.33333C13.5983 3.33333 8.04663 6.94749 5.25497 12.2425Z"
              fill="#FF3D00"/>
            <path
              d="M20 36.6667C24.305 36.6667 28.2167 35.0192 31.1742 32.34L26.0159 27.975C24.3425 29.2425 22.2625 30 20 30C15.665 30 11.9842 27.2359 10.5975 23.3784L5.16254 27.5659C7.92087 32.9634 13.5225 36.6667 20 36.6667Z"
              fill="#4CAF50"/>
            <path
              d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.7592 25.1975 27.56 26.805 26.0133 27.9758C26.0142 27.975 26.015 27.975 26.0158 27.9742L31.1742 32.3392C30.8092 32.6708 36.6667 28.3333 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z"
              fill="#1976D2"/>
          </svg>
          <span class="w-5/6 px-4 py-3 font-bold text-center">Google</span>
        </a>
      </div>
    </div>
  </div>
</div>

