<div class="max-w-screen-xl mx-auto px-4 md:px-8">
  <div class="items-start justify-between py-4 border-b md:flex">
    <div class="max-w-lg">
      <h3 class="text-gray-800 text-2xl font-bold">
        Income
      </h3>
      <p class="text-gray-600 mt-2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>
    <div class="mt-6 md:mt-0">
      <button
        href="javascript:void(0)"
        class="block px-6 py-4 text-center text-white duration-150 font-medium bg-green-600 rounded-lg hover:bg-green-500 active:bg-green-700 md:text-sm"
      >
        Add Income
      </button>
    </div>
  </div>
</div>
