<div *ngIf="isLoadingUser; else dashboardContent" class="flex justify-center items-center h-screen">
  <app-spinner class="w-16 h-16"></app-spinner>
</div>

<ng-template class="min-h-screen bg-green-50" #dashboardContent>
  <!-- Success Message -->
  <div class="absolute top-5 right-5 z-20 w-auto max-w-sm rounded-lg shadow-md flex items-center">
    <div class="flex w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-md" *ngIf="showSuccess">
      <div class="flex items-center justify-center w-12 bg-emerald-500">
        <i class="fa-solid fa-circle-check w-6 h-6 text-white fill-current"></i>
      </div>
      <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
          <span class="font-semibold text-emerald-500">Success</span>
          <p class="text-sm text-gray-600">Money added successfully!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="bg-green-600 text-white p-4 relative"> <!-- Added relative positioning here -->
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-bold">Welcome, {{ user?.firstName }}!</h1>
      <div class="flex items-center space-x-4 absolute top-5 right-5 z-10">
        <button (click)="toggleDropdown()" class="p-2 hover:bg-green-700 rounded-full">
          > <i class="fa-solid fa-user-tie text-2xl"></i>
        </button>
      </div>
    </div>
  </header>


  <div *ngIf="isOpen"
       class="absolute right-5 top-16 z-20 w-48 py-2 bg-green-400 rounded-md shadow-xl">
    <a href="/profile"
       class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors rounded-lg duration-300 transform hover:bg-gray-100">
      <i class="fa-solid fa-user"></i>
      Your Profile
    </a>
    <a href="/contact"
       class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors rounded-lg duration-300 transform hover:bg-gray-100">
      <i class="fa-solid fa-circle-question"></i>
      Help
    </a>
    <a
      class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
      href="/setting">
      <i class="fa-solid fa-sliders"></i>
      <span class="mx-2 text-sm font-medium">Setting</span>
    </a>
    <button (click)="logout()"
            class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-red-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12h12m-12-4l-4 4 4 4M5 4v16a2 2 0 002 2h10a2 2 0 002-2V4a2 2 0 00-2-2H7a2 2 0 00-2 2z"/>
      </svg>
      <span class="mx-2 text-sm font-medium">Log out</span>
    </button>
  </div>


  <!-- Main Content -->
  <main class="container mx-auto p-4 space-y-6">
    <!-- Wallet Balance -->
    <section class="bg-white rounded-lg shadow p-6">
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <h2 class="text-xl font-semibold text-green-800">Total Balance</h2>
        <div class="flex items-center space-x-2 mt-4 sm:mt-0">
          <!-- Button to toggle input field visibility or submit the amount -->
          <button class="bg-green-500 text-white px-4 py-2 rounded-full flex items-center"
                  (click)="add ? addToBalance(amountToAdd) : toggleAddInput()">
            {{ add ? 'Submit' : 'Add Money' }}
          </button>

          <!-- Input field for entering the amount -->
          <input *ngIf="add" type="number" [(ngModel)]="amountToAdd"
                 placeholder="Enter amount"
                 class="border border-gray-300 rounded px-2 py-1 w-32 focus:outline-none focus:ring-2 focus:ring-green-500"/>

          <!-- Cancel button to close the input field -->
          <button *ngIf="add" class="bg-red-500 text-white px-4 py-2 rounded-full flex items-center"
                  (click)="cancelAdd()">
            Cancel
          </button>
        </div>
      </div>
      <p class="text-3xl font-bold text-green-600 mt-2">$ {{ user?.totalBalance }}</p>
    </section>

    <!-- Budgets -->
    <section class="bg-white rounded-lg shadow p-6">
      <h2 class="text-xl font-semibold text-green-800 mb-4">Budgets</h2>
      <div class="flex space-x-4 overflow-x-auto pb-4 sm:flex-wrap sm:space-x-6">
        <div *ngFor="let budget of budgets" class="flex-shrink-0 w-64 bg-green-100 rounded-lg p-4 mb-4 sm:mb-0">
          <h3 class="font-semibold text-green-700">{{ budget.name }}</h3>
          <div class="mt-2 h-2 bg-green-200 rounded-full">
            <div class="h-full bg-green-500 rounded-full"
                 [style.width.%]="(budget.targetAmount && budget.usedAmount ? (budget.usedAmount / budget.targetAmount) * 100 : 0)"
            ></div>
          </div>
          <p class="mt-2 text-sm text-green-600">
            ${{ budget.usedAmount ?? 0 }} / ${{ budget.targetAmount ?? 0 }} Target |
            {{ ((budget.usedAmount ?? 0) / (budget.targetAmount ?? 1)) * 100 | number: '1.2-2' }} %
          </p>
        </div>
      </div>
      <button (click)="redirectToBudget()" class="mt-4 text-green-600 font-semibold flex items-center">
        See All
      </button>
    </section>


    <!-- Recent Transactions -->
    <section class="bg-white rounded-lg shadow p-6">
      <h2 class="text-xl font-semibold text-green-800 mb-4">Recent Transactions</h2>
      <ul class="space-y-4">
        <li *ngFor="let transaction of transactions"
            class="flex flex-col sm:flex-row justify-between items-center border-b pb-2">
          <div>
            <p class="font-semibold">{{ transaction.name }}</p>
            <p class="text-sm text-gray-500">{{ transaction.date }}</p>
          </div>
          <p [ngClass]="{ 'text-green-600': transaction.amount > 0, 'text-red-600': transaction.amount <= 0 }"
             class="font-semibold mt-2 sm:mt-0">
            {{ transaction.amount > 0 ? '+' : '-' }}${{ transaction.amount | number }}
          </p>
        </li>
      </ul>
    </section>

    <!-- Savings and Goals -->
    <section class="bg-white rounded-lg shadow p-6">
      <h2 class="text-xl font-semibold text-green-800 mb-4">Savings and Goals</h2>
      <div class="space-y-4">
        <div *ngFor="let goal of goalResponse | slice:0:3">
          <div class="flex flex-col sm:flex-row justify-between items-center">
            <h3 class="font-semibold">{{ goal.name }}</h3>
            <p class="text-sm text-green-600">${{ goal.currentAmount }} / ${{ goal.targetAmount }}</p>
          </div>
          <div class="mt-2 h-2 bg-green-200 rounded-full">
            <div class="h-full bg-green-500 rounded-full"
                 [style.width.%]="(goal?.currentAmount ?? 0) / (goal?.targetAmount ?? 1) * 100">
            </div>
          </div>
        </div>
      </div>
      <button (click)="redirectToGoals()" class="mt-4 text-green-600 font-semibold flex items-center">
        See All
      </button>
    </section>

    <!-- Debts Summary -->
    <section class="bg-white rounded-lg shadow p-6">
      <h2 class="text-xl font-semibold text-green-800 mb-4">Debts Summary</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="bg-red-100 p-4 rounded-lg">
          <h3 class="font-semibold text-red-700">Debts Owed</h3>
          <p class="text-2xl font-bold text-red-600 mt-2">$1,500.00</p>
        </div>
        <div class="bg-green-100 p-4 rounded-lg">
          <h3 class="font-semibold text-green-700">Debts Owed to You</h3>
          <p class="text-2xl font-bold text-green-600 mt-2">$300.00</p>
        </div>
      </div>
    </section>
  </main>
</ng-template>

