<aside [class.hidden]="!isSidebarVisible"
       class="flex flex-col md:w-64 w-36 h-screen  px-5 py-5 overflow-y-auto bg-green-200 border-r border-teal-200 rtl:border-r-0 rtl:border-l relative overflow-y-auto scrollbar-hide md:block">

<!-- Logo -->
  <a href="/dashboard">
    <img class="h-24" src="../../../../../assets/Budget-face%20logo.png" alt="Budget Logo">
  </a>

  <div class="flex flex-col justify-between flex-1 mt-6">
    <nav class="-mx-0 space-y-3">
      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase">analytics</label>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
          routerLink="/dashboard"
          routerLinkActive="text-gray-700 bg-gray-100 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-chart-column"></i>
          <span class="mx-2 text-sm font-medium">Dashboard</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
          routerLink="/stories"
          routerLinkActive="text-gray-700 bg-gray-100 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-comments-dollar"></i>
          <span class="mx-2 text-sm font-medium">Stories</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
          routerLink="/report"
          routerLinkActive="text-gray-700 bg-gray-100 rounded-lg "
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-file-contract"></i>
          <span class="mx-2 text-sm font-medium">Reports</span>
        </a>
      </div>

      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase">content</label>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
          routerLink="/wallet"
          routerLinkActive="text-gray-700 bg-gray-100 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-wallet"></i>
          <span class="mx-2 text-sm font-medium">Wallets</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
          routerLink="/budget"
          routerLinkActive="text-gray-700 bg-gray-100 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-piggy-bank"></i>
          <span class="mx-2 text-sm font-medium">Budgets</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
          routerLink="/expense"
          routerLinkActive="text-gray-700 bg-gray-100 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-coins"></i>
          <span class="mx-2 text-sm font-medium">Expenses</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
          routerLink="/income"
          routerLinkActive="text-gray-700 bg-gray-100 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-credit-card"></i>
          <span class="mx-2 text-sm font-medium">Incomes</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
          routerLink="/debt"
          routerLinkActive="text-gray-700 bg-gray-100 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-jug-detergent"></i>
          <span class="mx-2 text-sm font-medium">Debts</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
          routerLink="/goal"
          routerLinkActive="text-gray-700 bg-gray-100 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-bullseye"></i>
          <span class="mx-2 text-sm font-medium">Goals</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-gray-700"
          routerLink="/transactions"
          routerLinkActive="text-gray-700 bg-gray-100 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-arrow-right-arrow-left"></i>
          <span class="mx-2 text-sm font-medium">Transactions</span>
        </a>
      </div>
    </nav>
  </div>
</aside>

<!-- Hamburger Menu (Mobile) -->
<div class="md:hidden fixed top-0 left-0 z-30">
  <button (click)="toggleSidebar()"
          class="text-green-900 pt-4">
    <i class="fa-solid fa-bars w-12 h-12"></i>
  </button>
</div>
