.sidebar {
  width: 250px;
  background-color: #2d3748;
  color: #fff;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

.sidebar a:hover {
  text-decoration: underline;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

