@keyframes spin-reverse {
  100% {
    transform: rotate(-360deg);
  }
}

.spin-reverse {
  animation: spin-reverse 3s linear infinite;
}

.orbit {
  border: 2px solid transparent;
  border-top-color: #10B981;
  border-left-color: #10B981;
}
