<section class="py-28 relative">
  <div
    class="absolute inset-0 -z-10 blur-xl h-[580px]"
    style="
      background: linear-gradient(
        143.6deg,
        rgba(0, 255, 0, 0) 20.79%,
        rgba(144, 238, 144, 0.26) 40.92%,
        rgba(255, 255, 255, 0) 70.35%
      );
    "
  ></div>
  <div
    class="max-w-screen-xl mx-auto text-gray-600 gap-x-12 items-center justify-between overflow-hidden md:flex md:px-8"
  >
    <div class="flex-none space-y-5 px-4 sm:max-w-lg md:px-0 lg:max-w-xl">
      <h1 class="text-sm text-green-600 font-medium">
        Over 200 successful budgeting journeys
      </h1>
      <h2 class="text-4xl text-gray-800 font-extrabold md:text-5xl">
        Take control of your finances with <span class="text-green-600 font-serif">Budget</span> <span class="font-bold">Buddy</span>
      </h2>
      <p>
        BudgetBuddy is a user-friendly web app designed to simplify personal finance management. Create and manage budgets, track your expenses, and organize your finances effectively. Set financial goals, generate detailed monthly or yearly reports, and simulate money transfers between users for better expense tracking.
      </p>
      <div class="items-center gap-x-3 space-y-3 sm:flex sm:space-y-0">
        <a
          href="/about"
          class="block py-2 px-4 text-center text-white font-medium bg-green-600 duration-150 hover:bg-green-500 active:bg-green-700 rounded-lg shadow-lg hover:shadow-none"
        >
          Learn more
        </a>
        <a
          href="/login"
          class="flex items-center justify-center gap-x-2 py-2 px-4 text-gray-700 hover:text-gray-500 font-medium duration-150 active:bg-gray-100 border rounded-lg md:inline-flex"
        >
          Get Started
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="flex-none mt-14 md:mt-0 md:max-w-xl">
      <img
        src="https://images.unsplash.com/photo-1573164713619-24c711fe7878?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1738&amp;q=80"
        class="md:rounded-tl-[108px]"
        alt=""
      />
    </div>
  </div>
</section>
