<div *ngIf="isLoading; else walletContent" class="flex justify-center items-center h-screen">
  <app-spinner class="w-16 h-16"></app-spinner>
</div>

<ng-template class="min-h-screen bg-white" #walletContent>
  <!-- Main Content -->
  <div class="p-8">
    <div class="mb-8 flex items-center justify-between">
      <h1 class="text-3xl font-bold text-green-800">Wallets</h1>
      <button
        class="flex h-full items-center justify-center p-3 rounded-lg border-2 border-gray-200 bg-green-600 hover:bg-green-700 shadow-lg"
        (click)="createWallet = true"
      >
        <i class="fa-solid fa-circle-plus mr-2 h-5 w-5 text-white"></i>
        <span class="text-white">New Wallet</span>
      </button>
    </div>

    <hr class="p-4">

    <!-- Cards Section -->
    <div class="mb-8 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <div
        *ngFor="let wallet of walletResponse.content"
        class="bg-gradient-to-br from-green-500 to-green-700 text-white p-6 rounded-xl shadow-lg relative flex flex-col justify-between"
      >
        <!-- Wallet Header -->
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-4 gap-2">
          <!-- Name at the Top Left -->
          <div class="absolute top-4 left-4">
            <div class="bg-gradient-to-r from-white to-green-100 text-green-800 px-5 py-2 rounded-full">
              <span class="font-bold text-lg tracking-wide">{{wallet.name}}</span>
            </div>
          </div>

          <div>
            <div
              class="text-sm bg-transparent px-3 py-1 rounded-full shadow text-white capitalize mt-2 inline-block"
            >
            </div>
          </div>

          <!-- Icon at the Top Right -->
          <i class="fa-solid fa-credit-card text-2xl sm:text-3xl absolute top-4 right-4"></i>
        </div>

        <!-- Toggle Wallet Details Button -->
        <button
          (click)="toggleDetails(wallet.id)"
          class="absolute bottom-4 right-4 flex items-center bg-green-600 hover:bg-green-700 text-white px-3 sm:px-4 py-2 rounded-full text-xs sm:text-sm shadow-lg"
        >
          <i
            *ngIf="!isDetailsVisible(wallet.id)"
            class="fa-solid fa-circle-info mr-1 sm:mr-2"
          ></i>
          <i
            *ngIf="isDetailsVisible(wallet.id)"
            class="fa-regular fa-circle-xmark mr-1 sm:mr-2"
          ></i>
          <span class="hidden sm:inline" *ngIf="!isDetailsVisible(wallet.id)">Details</span>
          <span class="hidden sm:inline" *ngIf="isDetailsVisible(wallet.id)">Close</span>
        </button>

        <!-- Wallet Details Component -->
        <div
          *ngIf="isDetailsVisible(wallet.id)"
          class="mt-4 bg-green-600 bg-opacity-80 p-4 rounded-lg shadow-inner"
        >
          <app-wallet-details
            [walletId]="wallet.id"
            (onClose)="wallet.id && toggleDetails(wallet.id)"
          ></app-wallet-details>
        </div>

        <!-- Wallet Balance at the Bottom -->
        <div class="mt-16">
          <div class="text-sm text-white opacity-80">Current Balance</div>
          <div class="text-3xl sm:text-4xl">{{ wallet?.balance | currency }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Popup -->
  <div *ngIf="createWallet" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="dialog-content sm:max-w-[425px] bg-white p-6 rounded-lg shadow-lg ">
      <div class="dialog-header flex justify-between items-center mb-4">
        <i class="fa-solid fa-wallet"></i>
        <h3>New Wallet</h3>
        <button (click)="createWallet = false" class="text-gray-500 hover:text-gray-700"><i class="fa-regular fa-circle-xmark"></i></button>
      </div>

      <div [formGroup]="walletForm" (ngSubmit)="saveWallet()" class="space-y-4">
        <div class="space-y-2">
          <label for="name">Wallet Name</label>
          <input
            id="name"
            formControlName="name"
            required
            placeholder="e.g. Savings"
            class="input"
            [(ngModel)]="walletRequest.name"
          />
        </div>

        <div class="space-y-2">
          <label for="balance">Initial Balance</label>
          <input
            id="balance"
            type="number"
            formControlName="balance"
            required
            placeholder="0.00"
            min="0"
            step="0.01"
            class="input"
            [(ngModel)]="walletRequest.balance"
          />
        </div>

        <div class="space-y-2">
          <label for="walletType">Card Type</label>
          <select
            id="walletType"
            formControlName="walletType"
            required
            class="input"
          >
            <option value="SPENDING">Spending</option>
            <option value="SAVINGS">Savings</option>
            <option value="CASH">Cash</option>
          </select>
        </div>
        <button
          type="submit"
          class="btn bg-green-500 text-white hover:bg-green-600"
          (click)="saveWallet()"
        >
          Create Wallet
        </button>
      </div>
    </div>
  </div>

  <div class="absolute top-5 right-5 z-20 w-auto max-w-sm rounded-lg shadow-md flex items-center">
    <div class="flex w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-md" *ngIf="showSuccess">
      <div class="flex items-center justify-center w-12 bg-emerald-500">
        <i class="fa-solid fa-circle-check w-6 h-6 text-white fill-current"></i>
      </div>
      <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
          <span class="font-semibold text-emerald-500">Success</span>
          <p class="text-sm text-gray-600">Wallet added successfully!</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
